table{
    border-collapse: collapse;
    border: 1px solid gray;
    }
    th,td,tfoot{
        border:1px solid gray
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
.smart-select{
    width: 20%;
}
#txtFileUpload{
padding: 5px;
}